{% extends 'layout.html' %}

{% block body %}
    <h1>HELLO WORLD</h1>

    <form action="/article" method="post" name="edit">
        <div>
            <label>{{ form.title.label }}: </label>
            <div>
                {{ form.title }}
            </div>
            {% for error in form.title.errors %}
                <span>[{{ error }}]</span><br>
            {% endfor %}
        </div>
        <div class="controls">
            <input type="submit" value="Save Changes">
        </div>
    </form>
{% endblock %}